<section class="section-scroll-smooth" data-scroll-section>
    <div class="section-scroll-smooth__container">
        <div class="section-scroll-smooth__title" data-scroll data-scroll-offset-screen="0.5">
            <div class="mask">
                <div class="animated animated--1">
                    Another
                </div>
            </div>
            <div class="mask">
                <div class="animated animated--2">
                    one
                </div>
            </div>
        </div>
    </div>
</section>