<section class="section-scroll-image" data-scroll data-scroll-target=".page-scroll-demo__content" data-scroll-speed="0">
    <div class="section-scroll-image__image-container">
        <img class="section-scroll-image__image" height="1000" src="https://unsplash.com/photos/76KYxvM0ekA/download?force=true&w=2400" alt="">
    </div>
</section>