.section-scroll-image {
    // margin-top: 70vh;
}

.section-scroll-image__image-container {
    position: relative;

    width: 100%;
    height: 200vh;

    overflow: hidden;
}

.section-scroll-image__image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: auto;
    width: 100%;

    margin: auto;
}