.section-scroll-image {
    padding-top: 70vh;
}

.section-scroll-image__image-container {
    width: 100%;
}

.section-scroll-image__image {
    width: 100%;
    min-height: 1000px;

    height: auto;
}