.section-scroll-smooth {
    position: relative;
    height: 100vh;
}

.section-scroll-smooth__container {
    position: relative;

    width: 97%;
    height: 100%;

    margin: auto;
}

.section-scroll-smooth__title {
    position: absolute;
    left: 0;
    top: 40%;

    width: 100%;

    font-size: rem(80px);
    line-height: rem(80px);
    text-transform: uppercase;
    color: black;

    text-align: center;

    .mask {
        overflow: hidden;
    }

    .animated {
        transform: translateY(100%);
        will-change: transform;
        transition: transform 1.5s $Power3Out;
    }

    @for $i from 1 to 10 {
        .animated--#{$i} {
            transition-delay: #{$i * 0.1}s;
        }
    }

    &.is-in-view {
        .animated {
            transform: translateY(0);
        }
    }
}