html {
    &.has-smooth-scroll {
        overflow-y: scroll;
        overscroll-behavior-y: none;
    }
}

body {
    display: block;
    margin: 0;

    background-color: lightgray;
}

.js-scroll-content {
    width: 100%;
}