{{#extend "html/template"}}
  {{#content "body"}}

  <main role="main">
    
    {{> partials/header }}

    {{> sections/section-about }}

    {{> partials/footer }}
    
  </main>

  {{/content}}
{{/extend}}
