{{#extend "html/template"}}
  {{#content "body"}}

  
  <main role="main" data-barba="container" data-barba-namespace="home" class="js-scroll-container">
    <div class="js-scroll-content">
      {{> partials/header }}
      {{> partials/footer }}
    </div>
  </main>


  {{/content}}
{{/extend}}
