{{#extend "html/template"}}
  {{#content "body"}}

    
<main role="main" data-barba="container" data-barba-namespace="scroll-demo" class="page-scroll-demo js-scroll-container">
    <div class="js-scroll-content page-scroll-demo__content" data-barba="container">
        {{> headers/header-scroll }}
        {{> sections/section-scroll-image }}
        {{> sections/section-scroll-smooth }}
    </div>    
</main>
    
  {{/content}}
{{/extend}}
