/**
 * Core
 */
 @import "core/fonts";
 @import "core/variables";
 @import "core/breakpoints";
 @import "core/normalize";
 @import "core/mixins";
 @import "core/functions";
 @import "core/layout";
 @import "core/base";
 @import "core/typography";

 /**
 * Pages
 */
 @import "pages/page-scroll-demo";

 /**
 * Sections
 */
 @import "sections/section-scroll-image";
 @import "sections/section-scroll-smooth";

 /**
 * Sections
 */
 @import "sections/headers/header-scroll";